<!DOCTYPE html>

<html>
    <head>
        <title>Categorias</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../assets/css/estilos.css"/>
    </head>
    <body>

        <div class="img_logo"> 
            <img class="img" src="../../assets/img/descarga.png" alt="alt"/>
        <div>
        <div class="contenedor-categorias">

            <form method="POST" class="form" id="form">
                
                <label class="tittle" id="tittle">Nombre de Categorias</label>
                <br></br>
                <input class="inputs" type="text" id="categorias" name="categoria" placeholder="Ingrese la categoria">
                <br></br>
                <button type="submit"class="bottons">Guardar</button>
                <button type="reset"class="bottons">Cancelar</button>
                <p class="nombre">Martin Procopio</p>
                
            </form>
            
        </div>
        <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
        <script src="../../assets/js/validaciones.js" type="text/javascript"></script>   
    </body>
</html>
