<!DOCTYPE html>

<html>
    <head>
        <title>Categorias</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../assets/css/estilos.css"/>
    </head>
    <body>
        
        <div class="contenedor-categorias">
            <form method="POST" id="form">
                
                <label id="tittle">Nombre de Categorias</label>
                <br></br>
                <input class="inputs" type="text" name="categoria" placeholder="Ingrese la categoria">
                <br></br>
                <button type="button"class="bottons">Guardar</button>
                <button type="button"class="bottons">Cancelar</button>
                <p class="nombre">Martin Procopio</p>
                
            </form>
            
        </div>
    </body>
</html>
