<!DOCTYPE html>

<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../assets/css/estilos.css"/>
        <script type="text/javascript" src="../../assets/js/main.js"></script>     
    </head>
    <body>

        <div class="img_logo"> 
            <img class="img" src="../../assets/img/descarga.png" alt="alt"/>
        <div>
        <div class="contenedor-productos">
            <form method="POST" class="form_productos" id="form_productos">
                
                <label class="form" id="tittle">Registro de Productos</label>
                <br></br>
                <input class="inputs" type="text" name="nombre_producto" id="nombre" placeholder="Nombre del Producto" >
                <br></br>
                <input class="inputs" type="text" name="id_producto" id="id" placeholder="ID del Producto" >
                <br></br>
                <input class="inputs" type="text" name="precio_producto" id="precio" placeholder="Precio del Producto" >
                <br></br>
                <input class="inputs" type="text" name="categoria" id="categoria" placeholder="Categoria del Producto" >
                <br></br>
                <input class="inputs" type="text" name="descripcion_producto" id="descripcion" placeholder="Descripcion del Producto" >
                <br></br>
                <input class="inputs" type="file" name="imagen_producto" id="imagen" placeholder="Imagen del Producto">
                <br></br>
                <button type="submit"class="bottons" id="guardar">Guardar</button>
                <button type="reset"class="bottons">Cancelar</button>
                <p class="nombre">Martin Procopio</p>
                
                
            </form>
            
        </div>
        <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
        <script src="../../assets/js/validaciones.js" type="text/javascript"></script>  
    </body>
</html>
