<!DOCTYPE html>

<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../assets/css/estilos.css"/>
        <script type="text/javascript" src="../../assets/js/main.js"></script>     
    </head>
    <body>
        <div class="contenedor-productos">
            <form method="POST" id="form">
                
                <label id="tittle">Registro de Productos</label>
                <br></br>
                <input class="inputs" type="text" name="nombre_producto" id="Producto" placeholder="Nombre del Producto" required="">
                <br></br>
                <input class="inputs" type="text" name="id_producto" id="ID" placeholder="ID del Producto" required="">
                <br></br>
                <input class="inputs" type="text" name="precio_producto" id="precio" placeholder="Precio del Producto" required="">
                <br></br>
                <input class="inputs" type="text" name="categoria" id="categoria" placeholder="Categoria del Producto" required="">
                <br></br>
                <input class="inputs" type="text" name="descripcion_producto" id="descripcion" placeholder="Descripcion del Producto" required="">
                <br></br>
                <input class="inputs" type="file" name="imagen_producto" id="imagen" placeholder="Imagen del Producto" required="">
                <br></br>
                <button type="button"class="bottons" id="guardar">Guardar</button>
                <button type="button"class="bottons">Cancelar</button>
                <p class="nombre">Martin Procopio</p>
                
                
            </form>
            
        </div>
    </body>
</html>
